# Dependencies
node_modules
npm-debug.log*

# Build outputs  
dist

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Documentation
README.md

# Test files
coverage
*.test.js
*.spec.js

# Logs
logs
*.log

# Vite cache
.vite